<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8">
		<title>css browser compatibility test suite</title>

		<script src="js/angular/angular.min.js"></script>
		<script src="js/angular/angular-resource.min.js"></script>
		<script src="js/angular-file-upload/angular-file-upload.js"></script>						

		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/main.css" rel="stylesheet">
	</head>

	<body ng-controller="CssTestCtrl">

		<nav class="navbar navbar-inverse suite-test-wraper">
			<div class="container-fluid title ">
				<h3>CSS Browser Compatibility Test Suite</h3>
			</div>
	    </nav>


	    <main class="container margin-top suite-test-container">

	    	<h3><u>Select files</u></h3>

			<input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>

			<button type="button" class="btn btn-success" ng-click="uploader.uploadAll()" > Test CSS </button>

			<section ng-show="bwData.op.length">
				<h3><u>Selected css file has following properties</u></h3>

				<ul>
					<li ng-repeat="bwo in bwData.op">
						<h4>{{bwo.title}}</h4>
						<div ng-repeat="(key, agent) in browserData.agents">
							<span><b><u>{{agent.browser}} :</u></b></span>

							<span class="version" ng-repeat="version in agent.versions track by $index">
								<span class="label"
									  ng-class="{'n':'label-danger',
												'y x':'label-success',
												'y':'label-success',
												'a':'label-warning',
												'a x':'label-warning',
												'a #1':'label-warning',
												'a #3':'label-warning',
												'a x #1':'label-warning',
												'a x #2':'label-warning',
												'a x #3':'label-warning',
												'a #2 #3':'label-warning',
												'a #2':'label-warning'}[bwo.stats[key][version]]">{{version}}</span>
							</span>
						</div>
					</li>
				</ul>
			</section>

			<section class="browser-data" ng-show="false">
				<h3><u>Select browsers to compare</u></h3>
				<div ng-repeat="agent in browserData.agents">
					<div>
						<span class="browser-lable">{{agent.browser}}</span>
					</div>
					
					<div class="version" ng-repeat="version in agent.versions track by $index">
						<span class="version-data" ng-if="version"><input type="checkbox" />&nbsp;&nbsp;{{version}}</span>
					</div>
				</div>
			</section>
	    </main>
        <script src="js/app.js"></script>
	</body>
</html>